project:
  type: website

website:
  title: "phuse-datasetjson"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: paper.qmd
        text: Paper - datasetjson
      - href: slides.qmd
        text: Presentation - datasetjson

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



